{% extends "base.html" %}

{% block content %}

<h1 align="center"> BUSCADOR AVANZADO DE NOTICIAS </h1>
<form method="GET">
	{{filter.form.as_p}}
	<button class="btn btn-danger" type="submit">Buscar</button>
</form>
</div>	
<h1>Resultados:</h1>
  <ul>
    {% for noticia in filter.qs %}
	<li> <a href='{{ noticia.get_absolute_url }}'>{{noticia.titulo}}</a>, {{noticia.autor}}, {{noticia.created_date}} 
		{% if user.id == noticia.autor.id %}        
		<a href="{% url 'noticia-delete' noticia.id %}">Eliminar</a> 
		<a href="{% url 'noticia-update' noticia.id %}">Editar</a></li>
		{% endif %}
	{% empty %}
	No se encontraron noticias.
    {% endfor %}
  </ul>
{% endblock %}

