{% extends "base.html" %}

{% block content %}

<p><strong>Autor:</strong> {{noticia.autor}}</p>
<p><strong>Fecha:</strong> {{noticia.created_date}}</p>
<img src="{{noticia.imagen}}"/>
<h1>{{noticia.titulo}}</h1>
<p style="white-space:pre-wrap;">{{noticia.texto}}</p>
<h4>Comentarios</h4>
{% for comentario in noticia.comentario_set.all %}

<hr>
<p>{{ comentario.autor }} ({{ comentario.created_date }})</p>
<p>{{ comentario.texto }}</p>
<hr>

{% endfor %}

{% if user.is_authenticated %}
<div style="margin: 50px">
<a href="{% url 'nuevo-comentario' noticia.id %}" >Agregar Comentario
</a>
</div>
{% endif %}



{% endblock %}

