{% extends "base.html" %}
{% load static %}
{% block content %}


<p><strong>Autor:</strong> {{noticia.autor}}</p>
<p><strong>Fecha:</strong> {{noticia.created_date}}</p>
<p><strong>Categor&iacute;a:</strong> {{noticia.categoria}}</p>
<h1>{{noticia.titulo}}</h1>
<img style="float:left; margin:10px" src="{{noticia.imagen.url}}" height="300"/>
<p style="white-space:pre-wrap;">{{noticia.texto}}</p>

<h4>Comentarios</h4>
{% for comentario in noticia.comentario_set.all %}
<hr>
<p>{{ comentario.autor }} ({{ comentario.created_date }})</p>
<p>{{ comentario.texto }}</p> 
{% if user.id == comentario.autor.id %}
<p>
	<a href="{% url 'comentario-delete' comentario.id %}">Eliminar Comentario</a> 
	<a href="{% url 'comentario-update' comentario.id %}">Editar Comentario</a>

</p>
{% endif %}
<hr>

{% endfor %}

{% if user.is_authenticated %}
<div style="margin: 50px">
<a href="{% url 'nuevo-comentario' noticia.id %}" >Agregar Comentario
</a>
</div>
{% endif %}



{% endblock %}

