body {
  margin: 0;
}

.topnav {
  background-color: #2E3440;
  overflow: hidden;
  /* margin-top: 0px; */
}

.topnav a {
  float: left;
  display: block;
  color: #D8DEE9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size 17px;
}

.topnav a:hover {
  background-color: #81A1C1;
  color: #2E3440;
}

.topnav a.active {
  background-color: #5E81AC;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
	float: right;
	display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
  }
  .topnav.responsive a {
	float: none;
	display: block;
	text-align:left;
  }
}
