
body {
	background: #f0f0f0;
	color: #000;
}
form {
	margin: 5%;
	background: #5E81AC;
	border: 3px solid #000;

}

h1 {margin: 5%;
	background: #5E81AC;
	border: 3px solid #000;

}
ul {
	margin: 5%;
	background: #5E81AC;
	border: 3px solid #000;

}
