{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
<body class="text-center">
    
<main class="form-signin">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <img class="mb-4" src="{% static 'icons/icon-news.svg' %}">
    <h1 class="h3 mb-3 fw-normal">Iniciar sesi&oacute;n</h1>
    <label for="inputEmail" class="visually-hidden">Usuario</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="visually-hidden">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
 </main>
</body>

{% endblock %}

